body{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #d3d3d3;
    background-color: #221616;

}

.notecard{
    background-color: aquamarine;
    width: 450px;
    height: 150px;
    border-radius: 8px;
    margin-top: 100px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    /*box-sizing: border-box;*/
}

.note-title{
    color: #dddddd;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 10px 0;
}

.notecard-thumbnail{
    width:70px;
    height: 70px;
    border-radius: 5px;
}